<div class="main">
  <header class="header">
    <ul class="menu" #menu>
      <li class="menu__item">
        <button mat-button [matMenuTriggerFor]="mainMenu">Menú</button>
        <mat-menu #mainMenu="matMenu">
        </mat-menu>
      </li>
      <li class="menu__item">
        <button mat-button [matMenuTriggerFor]="locales">Locales</button>
        <mat-menu #locales="matMenu">
          <button mat-menu-item>Guácima</button>
          <button mat-menu-item>Moravia</button>
          <button mat-menu-item>Coronado</button>
          <button mat-menu-item>Ciruelas</button>
        </mat-menu>
      </li>
      <li class="menu__item">
        <button mat-button [matMenuTriggerFor]="promos">Promociones</button>
        <mat-menu #promos="matMenu">
          <button mat-menu-item>Combo Navideño</button>
          <button mat-menu-item>Quick Snack</button>
          <button mat-menu-item>Mita y Mita</button>
        </mat-menu>
      </li>
      <li class="menu__item">
        <button mat-button [matMenuTriggerFor]="about">Nosotros</button>
        <mat-menu #about="matMenu">
          <button mat-menu-item>Información</button>
          <button mat-menu-item>Contacto</button>
        </mat-menu>
      </li>
      <li class="menu__item">
        <button mat-icon-button>
          <mat-icon [matBadge]="cartItems" [matBadgeHidden]="cartItems <= 0"  matBadgeColor="accent">shopping_cart</mat-icon>
        </button>
      </li>
    </ul>
    <ul class="menu menu-right" #menuSecond>
      <li class="menu__item">
        <button mat-button>Blog</button>
      </li>
      <li class="menu__item">
        <button mat-button>Empleo</button>
      </li>
    </ul>
  </header>


  <section class="second-section">
    <app-slide></app-slide>
    <div class="info">
      <h1 class="heading-1">
        Las mejores hamburguesas a la parrilla
      </h1>
      <p class="paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia adipisci
        deserunt eaque.
      </p>
      <a class="btn btn--start">pide ahora</a>
    </div>
    <div class="visuals">
      <div class="image-container">
        <img
          #imageFirst
          src="../assets/homemade-french-fries-5.jpg"
          alt=""
        />
      </div>
      <div class="image-container">
        <img
          #imageSecond
          src="../assets/Avocado-Chicken-Burgers_9.jpg"
          alt=""
        />
      </div>
    </div>
  </section>
  <section class="third-section" #thirdSection>
    <div class="box"></div>
    <h4 class="heading-4" id="about">Acerca de Nosotros</h4>
    <h1 class="heading-1" id="buy">Cosas de hamburguesas bla bla bla</h1>
    <div class="info-1">
      <div class="info-1__text">
        <h2 class="heading-3">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </h2>
        <p class="paragraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum labore
          tempora eveniet adipisci sunt harum, eos nobis asperiores cumque
          veniam fuga fugit eius ab reiciendis, culpa id recusandae illum
          quisquam!
        </p>
      </div>
      <div class="info-1__visual">
        <img src="../assets/big-burger-combo-menu-with-potatoes-drink_219193-144.jpg" alt="">
      </div>
    </div>

  </section>

</div>
